# Week 6 Assignment - Pandas

In [76]:
import pandas as pd
import numpy as np

### 1) Load the data into a pandas dataframe (you may get a warning, you can get rid of it by setting low_memory=False). 

### Print the first 10 rows and print a random sampling of the rows in the dataframe.

In [77]:
file_path = 'data/realtor-data.csv'
p_df = pd.read_csv(file_path, low_memory=False)

print('First 10 rows:')
print(p_df.head(10))

print('Random Sampling:')
print(p_df.sample(n=10))

First 10 rows:
     status  bed bath  acre_lot           city        state  zip_code  \
0  for_sale  3.0  2.0      0.12       Adjuntas  Puerto Rico     601.0
1  for_sale  4.0  2.0      0.08       Adjuntas  Puerto Rico     601.0
2  for_sale  2.0  1.0      0.15     Juana Diaz  Puerto Rico     795.0
3  for_sale  4.0  2.0      0.10          Ponce  Puerto Rico     731.0
4  for_sale  6.0  2.0      0.05       Mayaguez  Puerto Rico     680.0
5  for_sale  4.0  3.0      0.46  San Sebastian  Puerto Rico     612.0
6  for_sale  3.0  1.0      0.20         Ciales  Puerto Rico     639.0
7  for_sale  3.0  2.0      0.08          Ponce  Puerto Rico     731.0
8  for_sale  2.0  1.0      0.09          Ponce  Puerto Rico     730.0
9  for_sale  5.0  3.0      7.46     Las Marias  Puerto Rico     670.0

   house_size prev_sold_date     price
0       920.0            NaN  105000.0
1      1527.0            NaN   80000.0
2       748.0            NaN   67000.0
3      1800.0            NaN  145000.0
4         NaN            NaN   65000.0
5      2520.0            NaN  179000.0
6      2040.0            NaN   50000.0
7      1050.0            NaN   71600.0
8      1092.0            NaN  100000.0
9      5403.0            NaN  300000.0
Random Sampling:
           status  bed bath  acre_lot             city          state  \
933207   for_sale  2.0  2.0       NaN          Yonkers       New York
1059061  for_sale  3.0  3.0      0.06            Bronx       New York
125917   for_sale  1.0  1.0       NaN          Belmont  Massachusetts
9792     for_sale  3.0  2.0      0.09       Rio Grande    Puerto Rico
1235091  for_sale  3.0  1.0      0.33      West Hurley       New York
799486   for_sale  4.0  3.0      0.09  North Arlington     New Jersey
296381   for_sale  3.0  1.0      0.34         Fryeburg          Maine
507506   for_sale  4.0  3.0      0.12     Little Ferry     New Jersey
703408   for_sale  3.0  2.0      0.07         Hamilton     New Jersey
1244103  for_sale  NaN  NaN      0.83         Catskill       New York

         zip_code  house_size prev_sold_date     price
933207    10710.0      1100.0            NaN  295000.0
1059061   10464.0      1500.0            NaN  689000.0
125917     2478.0       527.0     2010-05-04  369900.0
9792        745.0      1090.0            NaN  156000.0
1235091   12491.0      1108.0     1982-03-01   75000.0
799486     7031.0         NaN            NaN  680000.0
296381     4037.0       846.0            NaN  259900.0
507506     7643.0         NaN            NaN  599000.0
703408     8611.0      1296.0            NaN  199000.0
1244103   12414.0      1656.0            NaN   79000.0

### 2) You should always check how many null values there are in your data as well as the data types of the data you're working with. Often you will come across data that looks correct but isn't the right data type. 

### Check the number of null values for every column and check the data types as well

In [78]:
nan_count = p_df.isnull().sum()
print('Null Count:')
print(nan_count)

Null Count:
status                 0
bed               216467
bath              194206
acre_lot          357467
city                 191
state                  0
zip_code             479
house_size        450112
prev_sold_date    686293
price                108
dtype: int64

### 3) We have 3 columns that looked right when checking the data but aren't the right data type and we'll correct it. 

### Cast the columns bed, bath and price to float. Values that cannot be casted to float, like "hello" should be turned into NaN. 

### Check the data types again to make sure the conversion was successfull.



### Get a count of the number of NaNs in bed, bath and price columns. 

### You should get 216535, 194215 and 110 respectively

In [79]:
p_df[['bed', 'bath', 'price']] = p_df[['bed', 'bath', 'price']].apply(pd.to_numeric, errors='coerce')

print(p_df.dtypes)
print(p_df)
nan_count = p_df[['bed', 'bath', 'price']].isna().sum()
print(nan_count)

status             object
bed               float64
bath              float64
acre_lot          float64
city               object
state              object
zip_code          float64
house_size        float64
prev_sold_date     object
price             float64
dtype: object
           status   bed  bath  acre_lot          city        state  zip_code  \
0        for_sale   3.0   2.0      0.12      Adjuntas  Puerto Rico     601.0
1        for_sale   4.0   2.0      0.08      Adjuntas  Puerto Rico     601.0
2        for_sale   2.0   1.0      0.15    Juana Diaz  Puerto Rico     795.0
3        for_sale   4.0   2.0      0.10         Ponce  Puerto Rico     731.0
4        for_sale   6.0   2.0      0.05      Mayaguez  Puerto Rico     680.0
...           ...   ...   ...       ...           ...          ...       ...
1401061  for_sale   NaN   NaN    155.00    Perrysburg     New York   14129.0
1401062  for_sale   4.0   2.0      0.36  Silver Creek     New York   14136.0
1401063  for_sale  10.0   4.0      0.43       Brocton     New York   14716.0
1401064  for_sale   2.0   2.0      0.14       Dunkirk     New York   14048.0
1401065  for_sale   5.0   2.0      0.14        Angola     New York   14006.0

         house_size prev_sold_date     price
0             920.0            NaN  105000.0
1            1527.0            NaN   80000.0
2             748.0            NaN   67000.0
3            1800.0            NaN  145000.0
4               NaN            NaN   65000.0
...             ...            ...       ...
1401061         NaN            NaN  325000.0
1401062      2026.0     2000-09-01  187900.0
1401063      4802.0     1994-12-01  120000.0
1401064      1568.0     2003-04-15   92000.0
1401065      1908.0     2016-01-12   99900.0

[1401066 rows x 10 columns]
bed      216535
bath     194215
price       110
dtype: int64

### 4) Check the number of unique values in the bed, bath and state columns. 

### You should get 49, 42 and 19 respectively

### Print the uniques values for bed, bath and state. What do you notice about the unique values ?

In [80]:
unique_value = p_df[['bed', 'bath', 'state']].nunique()
print(unique_value)

print("Unique values for 'bed':", p_df['bed'].unique())
print("Unique values for 'bath':", p_df['bath'].unique())
print("Unique values for 'state':", p_df['state'].unique())

bed      49
bath     42
state    19
dtype: int64
Unique values for 'bed': [  3.   4.   2.   6.   5.   1.   9.  nan   7.   8.  12.  13.  10.  11.
  33.  24.  28.  14.  18.  20.  16.  15.  19.  17.  40.  21.  86.  31.
  27.  42.  60.  22.  32.  99.  49.  29.  30.  23.  46.  36.  68. 123.
  25.  47.  inf  35.  38.  64.  48.  75.]
Unique values for 'bath': [  2.   1.   3.   5.   4.   7.   6.  nan   8.   9.  10.  12.  13.  35.
  11.  16.  15.  18.  20.  14.  36.  25.  17.  19.  56.  42.  51.  28.
 198.  22.  33.  27.  30.  29.  24.  46.  21. 123.  39.  43.  32.  45.
  64.]
Unique values for 'state': ['Puerto Rico' 'Virgin Islands' 'Massachusetts' 'Connecticut'
 'New Hampshire' 'Vermont' 'New Jersey' 'New York' 'South Carolina'
 'Tennessee' 'Rhode Island' 'Virginia' 'Wyoming' 'Maine' 'Georgia'
 'Pennsylvania' 'West Virginia' 'Delaware' 'Louisiana']

### 5) We want to see which state has the largest number of properties for sale. 

### Print a count of the number of properties in each state/territory. 

### We want to make sure that we're getting unique listings, so drop any duplicate rows and print the count of the number of properties. What do you notice about the number of properties in each state ?

In [81]:
p_df_unique = p_df.drop_duplicates()

state_counts = p_df_unique['state'].value_counts()

print(state_counts)

state
New York          67160
New Jersey        32601
Connecticut       13753
Massachusetts     10056
Pennsylvania       9549
Maine              4938
New Hampshire      3431
Rhode Island       3332
Puerto Rico        2651
Vermont            2544
Delaware           1290
Virgin Islands      730
Virginia              7
Georgia               5
South Carolina        1
Tennessee             1
Wyoming               1
West Virginia         1
Louisiana             1
Name: count, dtype: int64

### 6) We now want to look for patterns in our data, find the 5 dates when the most houses were sold. What do you notice ?

In [88]:
p_df_unique.loc[:,['prev_sold_date']] = pd.to_datetime(p_df_unique['prev_sold_date'], errors='coerce')

date_counts = p_df_unique['prev_sold_date'].value_counts()

five_dates = date_counts.head(5)
print(five_dates)

prev_sold_date
2022-04-15    68
2022-04-29    58
2022-03-31    57
2022-04-01    54
2022-02-28    54
Name: count, dtype: int64

### 7) Now we want to create a simple but effective summary of the properties that are for sale. 

### Let's create a summary table that contains the average home size and price, every state and each city within a state.

In [87]:
p_df_unique.loc[:,['house_size', 'price']] = p_df_unique[['house_size', 'price']].apply(pd.to_numeric, errors='coerce')

summary_table = p_df_unique.groupby(['state', 'city'])[['house_size', 'price']].mean()

print(summary_table)




#Your output should be this:
# 		                          house_size	price
# state	            city		
# Connecticut	    Andover	     1653.750000	2.539500e+05
#                   Ansonia	     1848.172414	2.917902e+05
#                   Ashford	     1638.888889	1.959045e+05
#                   Avon	     2929.878788	5.824611e+05
#                   Barkhamsted	 2703.538462	3.383238e+05
# ...	...	...	...
# Virgin Islands	Saint Thomas 3435.025641	1.185128e+06
# Virginia	        Cape Charles	     NaN	7.130000e+05
#                   Chincoteague	     NaN	1.620000e+05
# West Virginia	    Wyoming	     1860.000000	6.250000e+04
# Wyoming	        Cody	     1935.000000	5.350000e+05

                              house_size         price
state          city
Connecticut    Andover       1653.750000  2.539500e+05
               Ansonia       1848.172414  2.917902e+05
               Ashford       1638.888889  1.959045e+05
               Avon          2929.878788  5.824611e+05
               Barkhamsted   2703.538462  3.383238e+05
...                                  ...           ...
Virgin Islands Saint Thomas  3435.025641  1.185128e+06
Virginia       Cape Charles          NaN  7.130000e+05
               Chincoteague          NaN  1.620000e+05
West Virginia  Wyoming       1860.000000  6.250000e+04
Wyoming        Cody          1935.000000  5.350000e+05

[4308 rows x 2 columns]