# Week 6 Assignment - Pandas

In [9]:
import pandas as pd
import numpy as np

### 1) Load the data into a pandas dataframe (you may get a warning, you can get rid of it by setting low_memory=False). 

### Print the first 10 rows and print a random sampling of the rows in the dataframe.

In [12]:
file_path = 
p_df = pd.read_csv('realtor-data.csv', low_memory=False)

print(p_df.head(10))

     status  bed bath  acre_lot           city        state  zip_code  \
0  for_sale  3.0  2.0      0.12       Adjuntas  Puerto Rico     601.0
1  for_sale  4.0  2.0      0.08       Adjuntas  Puerto Rico     601.0
2  for_sale  2.0  1.0      0.15     Juana Diaz  Puerto Rico     795.0
3  for_sale  4.0  2.0      0.10          Ponce  Puerto Rico     731.0
4  for_sale  6.0  2.0      0.05       Mayaguez  Puerto Rico     680.0
5  for_sale  4.0  3.0      0.46  San Sebastian  Puerto Rico     612.0
6  for_sale  3.0  1.0      0.20         Ciales  Puerto Rico     639.0
7  for_sale  3.0  2.0      0.08          Ponce  Puerto Rico     731.0
8  for_sale  2.0  1.0      0.09          Ponce  Puerto Rico     730.0
9  for_sale  5.0  3.0      7.46     Las Marias  Puerto Rico     670.0

   house_size prev_sold_date     price
0       920.0            NaN  105000.0
1      1527.0            NaN   80000.0
2       748.0            NaN   67000.0
3      1800.0            NaN  145000.0
4         NaN            NaN   65000.0
5      2520.0            NaN  179000.0
6      2040.0            NaN   50000.0
7      1050.0            NaN   71600.0
8      1092.0            NaN  100000.0
9      5403.0            NaN  300000.0

### 2) You should always check how many null values there are in your data as well as the data types of the data you're working with. Often you will come across data that looks correct but isn't the right data type. 

### Check the number of null values for every column and check the data types as well

In [3]:
#your code here

### 3) We have 3 columns that looked right when checking the data but aren't the right data type and we'll correct it. 

### Cast the columns bed, bath and price to float. Values that cannot be casted to float, like "hello" should be turned into NaN. 

### Check the data types again to make sure the conversion was successfull.



### Get a count of the number of NaNs in bed, bath and price columns. 

### You should get 216535, 194215 and 110 respectively

In [ ]:
#your code here

### 4) Check the number of unique values in the bed, bath and state columns. 

### You should get 49, 42 and 19 respectively

### Print the uniques values for bed, bath and state. What do you notice about the unique values ?

In [ ]:
#your code here

### 5) We want to see which state has the largest number of properties for sale. 

### Print a count of the number of properties in each state/territory. 

### We want to make sure that we're getting unique listings, so drop any duplicate rows and print the count of the number of properties. What do you notice about the number of properties in each state ?

In [ ]:
#your code here

### 6) We now want to look for patterns in our data, find the 5 dates when the most houses were sold. What do you notice ?

In [ ]:
#your code here

### 7) Now we want to create a simple but effective summary of the properties that are for sale. 

### Let's create a summary table that contains the average home size and price, every state and each city within a state.

In [ ]:
#your code here









#Your output should be this:
# 		                          house_size	price
# state	            city		
# Connecticut	    Andover	     1653.750000	2.539500e+05
#                   Ansonia	     1848.172414	2.917902e+05
#                   Ashford	     1638.888889	1.959045e+05
#                   Avon	     2929.878788	5.824611e+05
#                   Barkhamsted	 2703.538462	3.383238e+05
# ...	...	...	...
# Virgin Islands	Saint Thomas 3435.025641	1.185128e+06
# Virginia	        Cape Charles	     NaN	7.130000e+05
#                   Chincoteague	     NaN	1.620000e+05
# West Virginia	    Wyoming	     1860.000000	6.250000e+04
# Wyoming	        Cody	     1935.000000	5.350000e+05